body {
  font-size: 16px;
}

h1 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

.wrap {
  margin: 0 auto;
  padding: 80px 30px;
  width: 720px;
}

.ribbon {
  position: fixed;
  top: 0;
  right: 0
}

#result {
  margin-bottom: 20px;
  padding: 10px 20px;
  height: 200px;
  border: solid 1px rgba(0,0,0,0.5);
  border-radius: 6px;

  span {
    line-height: 1.5;
  }
}

#btn-mic {
  span {
    display: inline-block;
    margin: 1px 0 0 5px;
    width: 10px;
    height: 10px;
    border: solid 1px #fff;
    background: #bbb;
    border-radius: 50%;
  }

  &.on span {
    background: green;
  }
} 

button {
  padding: 0.4em 0.7em 0.5em 0.7em;
  min-width: 150px;
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
}

button:active,
button:hover {
  background-color: #cf402f;
}
button[disabled] {
  color: #ccc;
}
button[disabled]:hover {
  background-color: #d84a38;
}